<%= form_with model: @article, local: true do |form| %>
 
  <% if @article.errors.any? %>
    <%= render 'shared/error', obj:@article %>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <br/>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>
  <br/>

  <div class="field">
    <%= form.label :author %>
    <%= form.text_field :author %>
  </div>
  <br/>

  <div class="field">
    <%= form.label :genre %>
    <%= form.text_field :genre %>
  </div>
  <br/>

  <div class="actions">
    <%= form.submit "Submit" %>
  </div>
<% end %>